.title-bar{
    background-color: #303030;
    color: #818385;
}

.title{
    text-align:center;
}

.fas{
    margin-top: 10px;
}

.fa-star{
    color: gold;
}

#close-menu{
    font-size: 1em;
    position: relative;
    right: 10px;
}

#side-menu{
    background-color: #303030;
    color: #818385;
    z-index: 1;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    white-space: nowrap;
}

.list-group-item{
    color: #818385;
    background-color: #303030;
}

.list-group-item.active{
    color:white;
    background-color: #818385;
    border-color: rgba(0,0,0,.125);
}

#side-menu ul div a{
    text-align: center;
    font-size: 2.5em;
    line-height: 2em;
}

@media (min-width: 568px){

    .fa-star{
        position: relative;
        right: -50px;
    }
}